 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 729px;
}

.u-section-1 .u-image-1 {
  width: 592px;
  height: 592px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.6;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -224px 347px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-image-1 {
    width: 359px;
    height: 488px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -177px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 458px;
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-image-1 {
    width: 346px;
    height: 489px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -172px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    height: 369px;
    margin-top: 67px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    line-height: 1.1;
    margin-top: -112px;
    margin-left: 30px;
    margin-right: 30px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1139px;
}

.u-section-2 .u-image-1 {
  width: 703px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 937px;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 490px;
  min-height: 712px;
  height: auto;
  margin: -712px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  margin: 0 20px;
}

.u-section-2 .u-line-1 {
  width: 359px;
  transform-origin: right center 0;
  margin: 36px 20px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-style: normal;
  font-family: "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin: 19px 83px 0 35px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-style: normal;
  font-family: "2-questa_grande_regular_31";
  margin: -26px 20px 0 407px;
}

.u-section-2 .u-line-2 {
  width: 253px;
  transform-origin: right center 0;
  margin: 13px 20px 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 35px 20px 0;
}

.u-section-2 .u-link-1 {
  padding-bottom: 2px;
  font-weight: 700;
  font-family: "2-questa_grande_regular_31";
  margin: 12px 20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 443px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-line-1 {
    transform-origin: right center 0px;
    width: 312px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 360px;
  }

  .u-section-2 .u-line-2 {
    transform-origin: right center 0px;
    width: 206px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1886px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 703px;
    min-height: 788px;
    margin: 0 0 81px auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-line-1 {
    width: 572px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 620px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1557px;
  }

  .u-section-2 .u-image-1 {
    height: 720px;
    margin-top: 49px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 738px;
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    transform-origin: left center 0px;
    width: 520px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -26px;
    margin-left: 457px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 16px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-2 .u-image-1 {
    height: 453px;
    margin-top: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 719px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-line-1 {
    width: 320px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 92px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 19px;
    margin-left: 258px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 13px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 35px;
    margin-right: 19px;
  }

  .u-section-2 .u-link-1 {
    margin-right: 19px;
    margin-bottom: -3px;
    margin-left: 263px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 845px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 570px;
  background-image: none;
}

.u-section-3 .u-image-1 {
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 427px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin: 27px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 20px 18px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 587px;
}

.u-section-3 .u-image-2 {
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 427px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin: 27px 23px 0 17px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 27px 20px 0;
}

.u-section-3 .u-image-3 {
  background-image: url("images/9A9ABBFE-12C8-4299-A019-C359ED924E8B-13975-000001F54B9A8252.jpg");
  min-height: 570px;
  background-position: 50% 0%;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: "2-questa_grande_regular_31";
  margin: 41px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-3 .u-image-1 {
    height: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin: 16px 16px 15px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-3 .u-image-2 {
    height: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin: 16px 16px 15px;
  }

  .u-section-3 .u-image-3 {
    min-height: 530px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-3 .u-image-1 {
    height: 350px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-3 .u-image-2 {
    height: 350px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-image-3 {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1667px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 351px;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-3 .u-image-1 {
    height: 380px;
    width: 349px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin: 19px 9px 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-3 .u-image-2 {
    height: 380px;
    width: 349px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin: 17px 9px 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 442px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1493px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-3 .u-image-1 {
    height: 350px;
    width: 100%;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 18px;
    margin-right: -8px;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-3 .u-image-2 {
    height: 350px;
    width: 100%;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 18px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-3 .u-image-3 {
    min-height: 398px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1137px;
}

.u-section-4 .u-shape-1 {
  width: 255px;
  height: 88px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 810px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 937px;
  margin: 100px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 493px;
  min-height: 687px;
  height: auto;
  background-image: none;
  margin: -687px 0 13px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-bottom: 27px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  margin: 21px 20px 0;
}

.u-section-4 .u-line-1 {
  width: 321px;
  transform-origin: right center 0px;
  margin: 36px auto 0 20px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-style: normal;
  font-family: "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin: 19px 349px 0 20px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  font-family: "2-questa_grande_regular_31";
  font-style: normal;
  margin: -26px 133px 0 122px;
}

.u-section-4 .u-line-2 {
  width: 253px;
  transform-origin: right center 0px;
  margin: 13px auto 0 20px;
}

.u-section-4 .u-text-4 {
  margin: 35px 20px 0;
}

.u-section-4 .u-link-1 {
  padding-bottom: 2px;
  font-family: "2-questa_grande_regular_31";
  font-weight: 700;
  margin: 13px auto -13px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 703px;
  }

  .u-section-4 .u-group-1 {
    width: 410px;
    min-height: 685px;
    margin-top: -685px;
    margin-bottom: 37px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 16px;
    margin-left: 29px;
  }

  .u-section-4 .u-line-1 {
    width: 299px;
    margin-left: 29px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 275px;
    margin-left: 29px;
  }

  .u-section-4 .u-text-3 {
    width: 139px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-2 {
    width: 196px;
    margin-left: 29px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 16px;
    margin-left: 29px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1593px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    margin-bottom: 80px;
    min-height: 698px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 620px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 598px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 459px;
    margin-left: 122px;
  }

  .u-section-4 .u-line-2 {
    width: 160px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1512px;
  }

  .u-section-4 .u-image-1 {
    height: 720px;
    margin-top: 51px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: -30px;
    min-height: 691px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 22px;
    margin-right: -10px;
    margin-left: 19px;
  }

  .u-section-4 .u-line-1 {
    width: 213px;
    margin-left: 19px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-top: 14px;
    margin-right: 278px;
    margin-left: 19px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 61px;
    margin-left: 127px;
  }

  .u-section-4 .u-line-2 {
    width: 150px;
    margin-top: 15px;
    margin-left: 19px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 9px;
    margin-left: 19px;
  }

  .u-section-4 .u-link-1 {
    margin-right: 452px;
    margin-left: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-4 .u-shape-1 {
    height: 50px;
    margin-top: 1px;
    width: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 401px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    margin-bottom: 1px;
    min-height: 675px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    position: relative;
    margin-top: 23px;
    margin-right: -1px;
    margin-left: 20px;
  }

  .u-section-4 .u-line-1 {
    width: 178px;
    margin-top: 33px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-right: -1px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 14px;
    margin-left: 104px;
  }

  .u-section-4 .u-line-2 {
    width: 126px;
    margin-top: 19px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 36px;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-4 .u-link-1 {
    margin: 14px 251px 0 20px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 845px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 100%;
  margin: 60px 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 587px;
  background-image: none;
}

.u-section-5 .u-image-1 {
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 427px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-family: "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin: 27px 20px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 20px 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 587px;
}

.u-section-5 .u-gallery-1 {
  height: 427px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-gallery-inner-1 {
  background-image: url("images/9000450E-AA3D-45AB-A83C-C907BE70FFA5.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-1 {
  object-position: 50% 12.36%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-back-image-2 {
  object-position: 50% 12.36%;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  background-image: none;
  margin: 27px 20px 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 27px 20px 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 587px;
}

.u-section-5 .u-gallery-2 {
  height: 427px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-back-image-3 {
  object-position: 50% 7.72%;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-5 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-5 .u-text-5 {
  background-image: none;
  font-size: 1.5rem;
  font-family: "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  margin: 27px 20px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  background-image: none;
  margin: 27px 20px 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-family: "2-questa_grande_regular_31";
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-5 .u-image-1 {
    height: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 567px;
  }

  .u-section-5 .u-gallery-1 {
    height: 400px;
    width: 100%;
  }

  .u-section-5 .u-back-image-1 {
    object-position: 50% 10.62%;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 546px;
  }

  .u-section-5 .u-gallery-2 {
    height: 400px;
    width: 100%;
  }

  .u-section-5 .u-text-5 {
    position: relative;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-5 .u-image-1 {
    height: 350px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 517px;
  }

  .u-section-5 .u-gallery-1 {
    height: 350px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-text-4 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 496px;
  }

  .u-section-5 .u-gallery-2 {
    height: 350px;
    width: auto;
  }

  .u-section-5 .u-text-6 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1746px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 350px;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-5 .u-image-1 {
    object-position: 62.56% 0%;
    height: 380px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 18px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-5 .u-gallery-1 {
    height: 380px;
    width: 350px;
  }

  .u-section-5 .u-back-image-1 {
    object-position: 50% 7.14%;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 19px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 538px;
  }

  .u-section-5 .u-gallery-2 {
    height: 380px;
    width: 350px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 20px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1637px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-5 .u-image-1 {
    height: 349px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: 21px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 19px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-5 .u-gallery-1 {
    height: 350px;
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 17px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 492px;
  }

  .u-section-5 .u-gallery-2 {
    height: 350px;
    width: 340px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 17px;
  }
}@font-face {
  font-family: '2-questa_grande_regular_31';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/2-questa_grande_regular_31.otf);
}