 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-image-1 {
  width: 592px;
  height: 592px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 37px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.6;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -224px 347px 165px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    width: 359px;
    height: 488px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -177px;
    margin-right: auto;
    margin-bottom: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 458px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 141px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    width: 346px;
    height: 489px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -172px;
    margin-bottom: 96px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-image-1 {
    height: 369px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    line-height: 1.1;
    width: 257px;
    margin-top: -112px;
    margin-bottom: 133px;
  }
} .u-section-2 {
  min-height: 768px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 940px) / 2) + 404px);
  height: 432px;
  background-image: none;
  margin: 145px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 517px);
  height: 480px;
  margin: -577px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 350px;
  height: 488px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -400px auto 0 calc(((100% - 1140px) / 2) + 333px);
}

.u-section-2 .u-shape-3 {
  width: 376px;
  height: 356px;
  margin: -206px calc(((100% - 1140px) / 2) + 210px) 0 auto;
}

.u-section-2 .u-group-1 {
  width: 350px;
  min-height: 316px;
  margin: -336px calc(((100% - 1140px) / 2) + 223px) 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 30px 16px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 16px 30px;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  line-height: 1.6;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -626px auto 434px calc(((100% - 1140px) / 2) + 39px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 454px;
    height: 392px;
    margin-top: 242px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 454px);
    margin-top: -634px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 100vh;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 255px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 331px);
    height: 427px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 458px;
    margin-top: -347px;
    margin-left: calc(((100% - 1140px) / 2) + 357px);
  }

  .u-section-2 .u-shape-3 {
    width: 371px;
    height: 321px;
    margin-top: -173px;
    margin-right: calc(((100% - 720px) / 2) + -17px);
  }

  .u-section-2 .u-group-1 {
    width: 337px;
    min-height: 281px;
    margin-top: -301px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -386px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1133px;
  }

  .u-section-2 .u-shape-1 {
    width: 201px;
    height: 630px;
    margin-top: 302px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 312px);
    height: 473px;
    margin-top: -912px;
  }

  .u-section-2 .u-image-1 {
    width: 346px;
    height: 489px;
    margin-top: -256px;
    margin-right: calc(((100% - 1140px) / 2) + 391px);
    margin-left: auto;
  }

  .u-section-2 .u-shape-3 {
    width: 412px;
    height: 408px;
    margin-top: -32px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-group-1 {
    width: 376px;
    min-height: 362px;
    margin-top: -385px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 318px);
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -1005px;
    margin-right: calc(((100% - 540px) / 2) + 206px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 921px;
  }

  .u-section-2 .u-shape-1 {
    width: 289px;
    height: 380px;
    margin-top: 188px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 225px);
    height: 295px;
    margin-top: -565px;
  }

  .u-section-2 .u-image-1 {
    height: 293px;
    width: 270px;
    margin-top: -182px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 316px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    line-height: 1.1;
    margin: -794px calc(((100% - 340px) / 2) + 128px) 676px calc(((100% - 340px) / 2));
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-3 .u-image-1 {
  width: 700px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 900px;
  margin: 51px auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 500px;
  min-height: 500px;
  background-image: none;
  height: auto;
  margin: -550px 0 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  margin: 21px 20px 0;
}

.u-section-3 .u-line-1 {
  width: 359px;
  transform-origin: right center 0;
  margin: 36px auto 0 20px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-family: "2-questa_grande_regular_31";
  font-style: normal;
  margin: 19px 54px 0 20px;
}

.u-section-3 .u-line-2 {
  width: 253px;
  transform-origin: right center 0;
  margin: 13px auto 0 20px;
}

.u-section-3 .u-text-3 {
  margin: 35px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-3 .u-image-1 {
    width: 600px;
    height: 800px;
    margin-top: 50px;
  }

  .u-section-3 .u-group-1 {
    width: 400px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    width: auto;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 296px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 29px;
    margin-left: 16px;
  }

  .u-section-3 .u-line-2 {
    width: 209px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-3 .u-image-1 {
    width: 450px;
    height: 700px;
  }

  .u-section-3 .u-group-1 {
    width: 310px;
    min-height: 410px;
    margin-top: -447px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 227px;
    transform-origin: right center 0px;
    margin-top: 39px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 40px;
    margin-left: 13px;
  }

  .u-section-3 .u-line-2 {
    width: 160px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 51px;
    width: 100%;
  }

  .u-section-3 .u-group-1 {
    min-height: 400px;
    width: 500px;
    margin-top: -64px;
    margin-right: auto;
    margin-bottom: 51px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 42px;
    margin-right: 9px;
    margin-left: 20px;
  }

  .u-section-3 .u-line-1 {
    width: 213px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 246px;
    margin-left: 20px;
  }

  .u-section-3 .u-line-2 {
    width: 150px;
    transform-origin: right center 0px;
    margin-top: 14px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 9px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-3 .u-image-1 {
    object-position: 52.68% 0%;
    height: 400px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 20px;
    margin-right: -1px;
  }

  .u-section-3 .u-line-1 {
    width: 178px;
    margin-top: 33px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-right: -1px;
  }

  .u-section-3 .u-line-2 {
    width: 126px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 36px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 951px;
}

.u-section-4 .u-image-1 {
  width: 700px;
  object-position: 49.1% 0%;
  background-position: 50% 0%;
  height: 900px;
  margin: 1px 0 0 auto;
}

.u-section-4 .u-group-1 {
  width: 500px;
  min-height: 500px;
  background-image: none;
  height: auto;
  margin: -550px auto 60px 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  margin: 98px 20px 0;
}

.u-section-4 .u-line-1 {
  width: 359px;
  transform-origin: right center 0;
  margin: 36px 20px 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: "2-questa_grande_regular_31";
  font-size: 3rem;
  font-style: normal;
  margin: 18px 28px 0;
}

.u-section-4 .u-line-2 {
  width: 253px;
  transform-origin: right center 0px;
  margin: 14px 20px 0 auto;
}

.u-section-4 .u-text-3 {
  margin: 35px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-image-1 {
    width: 600px;
    height: 800px;
  }

  .u-section-4 .u-group-1 {
    width: 400px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 296px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 16px;
    margin-left: 29px;
  }

  .u-section-4 .u-line-2 {
    width: 209px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-4 .u-image-1 {
    width: 450px;
    height: 700px;
  }

  .u-section-4 .u-group-1 {
    width: 310px;
    min-height: 410px;
    margin-top: -459px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 227px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 13px;
    margin-left: 40px;
  }

  .u-section-4 .u-line-2 {
    width: 160px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1125px;
  }

  .u-section-4 .u-image-1 {
    width: 100%;
  }

  .u-section-4 .u-group-1 {
    min-height: 400px;
    width: 530px;
    margin-top: -26px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 213px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 266px;
  }

  .u-section-4 .u-line-2 {
    width: 150px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-4 .u-image-1 {
    height: 400px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 377px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 19px;
    margin-right: 20px;
    margin-left: -1px;
  }

  .u-section-4 .u-line-1 {
    width: 178px;
    margin-top: 33px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 20px;
    margin-left: -1px;
  }

  .u-section-4 .u-line-2 {
    width: 126px;
    margin-top: 19px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 950px;
}

.u-section-5 .u-image-1 {
  width: 700px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  height: 900px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-1 {
  width: 500px;
  background-image: none;
  height: auto;
  margin: -550px 0 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  margin: 10px 20px 0;
}

.u-section-5 .u-line-1 {
  width: 359px;
  transform-origin: right center 0;
  margin: 36px auto 0 20px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-family: "2-questa_grande_regular_31";
  font-style: normal;
  margin: 19px 54px 0 20px;
}

.u-section-5 .u-line-2 {
  width: 253px;
  transform-origin: right center 0;
  margin: 13px auto 0 20px;
}

.u-section-5 .u-text-3 {
  margin: 35px 20px 0;
}

.u-section-5 .u-link-1 {
  padding-bottom: 2px;
  font-size: 1rem;
  font-weight: 700;
  margin: 46px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-image-1 {
    width: 600px;
    height: 800px;
  }

  .u-section-5 .u-group-1 {
    width: 400px;
    margin-top: -549px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 296px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 29px;
    margin-left: 16px;
  }

  .u-section-5 .u-line-2 {
    width: 209px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-5 .u-image-1 {
    width: 450px;
    height: 700px;
  }

  .u-section-5 .u-group-1 {
    width: 310px;
    margin-top: -460px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-right: 13px;
    margin-left: 20px;
  }

  .u-section-5 .u-line-1 {
    width: 227px;
    transform-origin: right center 0px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 40px;
    margin-left: 20px;
  }

  .u-section-5 .u-line-2 {
    width: 160px;
    transform-origin: right center 0px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 13px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-5 .u-image-1 {
    width: 100%;
  }

  .u-section-5 .u-group-1 {
    width: 500px;
    margin-top: -70px;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 41px;
    margin-right: 9px;
  }

  .u-section-5 .u-line-1 {
    width: 213px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 266px;
  }

  .u-section-5 .u-line-2 {
    width: 150px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-image-1 {
    object-position: 50% 69.64%;
    height: 400px;
  }

  .u-section-5 .u-group-1 {
    min-height: 400px;
    margin-top: 0;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 20px;
    margin-right: -1px;
  }

  .u-section-5 .u-line-1 {
    width: 178px;
    margin-top: 33px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
    margin-right: -1px;
  }

  .u-section-5 .u-line-2 {
    width: 126px;
    margin-top: 19px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-5 .u-link-1 {
    font-size: 0.875rem;
  }
}@font-face {
  font-family: '2-questa_grande_regular_31';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/2-questa_grande_regular_31.otf);
}