 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 80px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: normal;
  margin: 37px 112px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2302px;
}

.u-section-2 .u-table-1 {
  width: 820px;
  margin: 60px auto;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-9fcf-4 {
  font-weight: 700;
  background-image: none;
}

.u-block-9fcf-44 {
  height: 119px;
}

.u-section-2 .u-table-body-1 {
  font-size: 1.125rem;
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2073px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
    margin-bottom: -140px;
  }

  .u-section-2 .u-table-body-1 {
    font-size: 0.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 169px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-style: normal;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 49px 101px 0 123px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 101px 0 123px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 1px;
    margin-left: 23px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 2410px;
}

.u-section-4 .u-table-1 {
  width: 820px;
  margin: 60px auto 30px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-6270-4 {
  font-weight: 700;
  background-image: none;
}

.u-block-6270-44 {
  height: 119px;
}

.u-section-4 .u-table-body-1 {
  font-size: 1.125rem;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2570px;
  }

  .u-section-4 .u-table-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3227px;
  }

  .u-section-4 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3055px;
  }

  .u-section-4 .u-table-1 {
    width: 340px;
  }

  .u-section-4 .u-table-body-1 {
    font-size: 0.875rem;
  }
}